<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Transhumance Request</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!network.onlineIndicator">
        <ion-icon style="zoom: 2" name="flash-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="network.onlineIndicator">
        <ion-icon color="success" style="zoom: 2" name="flash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="fixed">ID</ion-label>
      <div item-content>
        <span id="id-content">{{transhumanceRequest.id}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Request Date</ion-label>
      <div item-content>
        <span id="requestDate-content">{{transhumanceRequest.requestDate | date:'medium'}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">State</ion-label>
      <div item-content>
        <span id="state-content">{{transhumanceRequest.state}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Apiary</ion-label>
      <div item-content *ngIf="transhumanceRequest.apiaryId">
        <a>{{transhumanceRequest.apiaryId}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Hive</ion-label>
      <div item-content>
        <span *ngFor="let hive of transhumanceRequest.hives; let last = last"> <a>{{hive.id}}</a>{{last ? '' : ', '}} </span>
      </div>
    </ion-item>
  </ion-list>

  <!--<ion-button expand="block" color="primary" (click)="open(transhumanceRequest)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
  <ion-button expand="block" color="danger" (click)="deleteModal(transhumanceRequest)">{{ 'DELETE_BUTTON' | translate }}</ion-button>-->
</ion-content>
