<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Desdobramentos</ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let unfolding of unfoldings; trackBy: trackId" #slidingItem>
      <ion-item (click)="view(unfolding)">
        <ion-label text-wrap>
          <p>{{unfolding.id}}</p>
          <p>{{unfolding.observations}}</p>
          <p>{{unfolding.date | date:'medium'}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(slidingItem, unfolding)">Editar</ion-item-option>
        <ion-item-option color="danger" (click)="delete(unfolding)">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="!unfoldings?.length">
    <ion-label> Nenhum Desdobramento encontrado. </ion-label>
  </ion-item>

  <ion-fab *ngIf="1==0" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
