<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Apiary Informations</ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let apiaryInformation of apiaryInformations; trackBy: trackId" #slidingItem>
      <ion-item (click)="view(apiaryInformation)">
        <ion-label text-wrap>
          <p>{{apiaryInformation.id}}</p>
          <p>{{apiaryInformation.zoneNumber}}</p>
          <p>{{apiaryInformation.zoneName}}</p>
          <p>{{apiaryInformation.numberHives}}</p>
          <p>{{apiaryInformation.intensive}}</p>
          <p>{{apiaryInformation.transhumance}}</p>
          <p>{{apiaryInformation.coordX}}</p>
          <p>{{apiaryInformation.coordY}}</p>
          <p>{{apiaryInformation.coordZ}}</p>
          <p>{{apiaryInformation.numberFrames}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(slidingItem, apiaryInformation)"> {{ 'EDIT_BUTTON' | translate }} </ion-item-option>
        <ion-item-option color="danger" (click)="delete(apiaryInformation)"> {{ 'DELETE_BUTTON' | translate }} </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="!apiaryInformations?.length">
    <ion-label> No Apiary Informations found. </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
