<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inspeção</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!network.onlineIndicator">
        <ion-icon style="zoom: 2" name="flash-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="network.onlineIndicator">
        <ion-icon color="success" style="zoom: 2" name="flash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <!-- <ion-item [hidden]="!form.id">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label>Data</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="date" id="field_date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Notas</ion-label>
        <ion-input type="text" name="note" formControlName="note"></ion-input>
      </ion-item>
      <ion-item [hidden]="this.isNew">
        <ion-label>Estado</ion-label>
        <ion-select formControlName="state" id="field_state" required>
          <ion-select-option value="REGISTERED">REGISTERED</ion-select-option>
          <ion-select-option value="ANNULLED">ANNULLED</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Colmeia</ion-label>
        <ion-select id="field_hive" formControlName="hiveId" [compareWith]="compareHive" (ionChange)="hiveSelection()">
          <ion-select-option [value]="null"></ion-select-option>
          <ion-select-option [value]="hiveOption.id" *ngFor="let hiveOption of hives; trackBy: trackHiveById"
            >{{hiveOption.id}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item [hidden]="!this.selectedHive">
        <ion-label>Tipo</ion-label>
        <ion-select formControlName="type" id="field_type">
          <ion-select-option value="EXTERNAL">EXTERNAL</ion-select-option>
          <ion-select-option value="INTERNAL">INTERNAL</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Doença</ion-label>
        <ion-select id="field_disease" multiple="true" formControlName="diseases" [compareWith]="compareDisease">
          <ion-select-option [value]="diseaseOption" *ngFor="let diseaseOption of diseases; trackBy: trackDiseaseById"
            >{{diseaseOption.id}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
